div#invisi-div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

div#background-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(75, 78, 113);
}

div#interfaz-container {
  background-color: white;
}

div#separador {
  background-color: rgb(75, 78, 113);
}

h1#site-title {
  color: white
}

div.white-box {
  background-color: #D9D9D9;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}